/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4; }

@media screen and (max-width: 767px) {
  .main-content {
    padding-top: 71px; } }

/*components*/
.header {
  background: #35424a;
  color: #ffffff;
  padding: 30px 0;
  border-bottom: #e8491d 3px solid; }
  @media screen and (max-width: 767px) {
    .header {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      padding: 10px 0;
      z-index: 2; } }
  .header__logo-link {
    text-decoration: none; }
  .header__link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px; }
    @media screen and (max-width: 767px) {
      .header__link {
        display: block;
        font-size: 4vw;
        padding: 13px 0; } }
    .header__link:hover {
      color: #e8491d;
      font-weight: bold; }
  .header__nav-list {
    display: inline-block;
    width: 16.66%;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .header__nav-list {
        display: block;
        width: 100%;
        padding: 0; } }
  .header__branding {
    display: inline-block;
    width: 30%;
    vertical-align: middle; }
    @media screen and (max-width: 767px) {
      .header__branding {
        width: 65%; } }
  .header__h1 {
    margin: 0;
    font-size: 25px;
    color: #ffffff; }
    @media screen and (max-width: 767px) {
      .header__h1 {
        font-size: 5vw; } }
  .header__navigation {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    text-align: right; }
    @media screen and (max-width: 767px) {
      .header__navigation {
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        text-align: left;
        z-index: 2;
        top: 71px;
        background: #35424A; } }
  .header__highlight {
    color: #e8491d;
    font-weight: bold; }
  .header__menu-container {
    display: none; }
    @media screen and (max-width: 767px) {
      .header__menu-container {
        display: inline-block;
        width: 35%;
        vertical-align: middle;
        text-align: right;
        padding-top: 8px; } }
  .header__menu-icon {
    display: inline-block;
    width: 43px;
    height: 40px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }
  .header__menu-line {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    .header__menu-line:first-child {
      top: 0px; }
    .header__menu-line:nth-child(2), .header__menu-line:nth-child(3) {
      top: 12px; }
    .header__menu-line:nth-child(4) {
      top: 24px; }

.header__menu-icon.header__menu-icon--active .header__menu-line:first-child {
  top: 18px;
  width: 0;
  left: 0; }

.header__menu-icon.header__menu-icon--active .header__menu-line:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.header__menu-icon.header__menu-icon--active .header__menu-line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.header__menu-icon.header__menu-icon--active .header__menu-line:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.header__nav-list.header__nav-list--current .header__link {
  color: #e8491d;
  font-weight: bold; }

.footer {
  padding: 20px;
  color: #FFFFFF;
  background-color: #E8491D;
  text-align: center; }
  .footer__image {
    margin: 5px;
    border-radius: 5px;
    width: 30px;
    height: auto; }

.container {
  margin: auto;
  width: 80%;
  font-size: 0; }
  @media screen and (max-width: 767px) {
    .container {
      width: 90%; } }

.showcase {
  display: inline-flex;
  width: 100%;
  min-height: 74vh;
  background: url("../images/events/a.png") no-repeat 0 0px;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  text-align: center;
  color: #ffffff; }
  @media screen and (max-width: 767px) {
    .showcase {
      min-height: 20vh; } }
  .showcase__highlight {
    font-size: 55px; }
    @media screen and (max-width: 767px) {
      .showcase__highlight {
        font-size: 5vw; } }
  .showcase__paragraph {
    font-size: 20px; }
    @media screen and (max-width: 767px) {
      .showcase__paragraph {
        font-size: 4vw; } }

.newsletter {
  padding: 5px;
  color: #ffffff;
  background: #35424a; }
  .newsletter__center {
    text-align: center;
    font-size: 25px;
    padding: 15px 0; }
    @media screen and (max-width: 767px) {
      .newsletter__center {
        font-size: 5vw; } }
  .newsletter__highlight {
    color: yellow; }
    @media screen and (max-width: 767px) {
      .newsletter__highlight {
        display: block; } }
  .newsletter__left {
    text-align: left;
    font-size: 25px;
    padding: 15px 0; }
    @media screen and (max-width: 767px) {
      .newsletter__left {
        font-size: 5vw; } }
  .newsletter__link {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none; }
  .newsletter__tab-list {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding: 10px 0; }
    @media screen and (max-width: 767px) {
      .newsletter__tab-list {
        display: block;
        width: 100%;
        text-align: center; } }
  .newsletter__tab {
    display: inline-block;
    width: 25%;
    vertical-align: middle; }
    @media screen and (max-width: 767px) {
      .newsletter__tab {
        display: inline-block;
        width: 50%; } }

.newsletter__link.newsletter__link--active {
  color: #D3531A;
  font-weight: 700; }

.boxes__title {
  text-align: center;
  font-size: 25px;
  padding: 40px 0 30px;
  font-weight: 700; }

.boxes__list {
  display: inline-block;
  margin-bottom: 30px;
  width: 30%;
  padding: 10px;
  text-align: center;
  vertical-align: top; }
  @media screen and (max-width: 767px) {
    .boxes__list {
      width: 100%;
      padding: 10px 0; } }

.boxes__list-image {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 1px; }

.boxes__list-h3 {
  font-size: 18px;
  font-weight: 700;
  padding: 15px 10px; }

.boxes__list-paragraph {
  font-size: 16px; }

.boxes__image-wrapper {
  display: inline-block;
  margin-right: 5%;
  width: 45%;
  vertical-align: middle;
  padding: 35px 0; }
  @media screen and (max-width: 767px) {
    .boxes__image-wrapper {
      margin-right: 0;
      width: 100%; } }

.boxes__image-description {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding: 35px 0; }
  @media screen and (max-width: 767px) {
    .boxes__image-description {
      width: 100%;
      padding: 0 0 35px; } }

.boxes__image-info {
  width: 100%; }

.boxes__image-title {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 15px; }

.boxes__list-offer {
  font-size: 16px; }

.boxes__list-paragraph {
  display: block;
  padding-bottom: 5px; }

.form {
  display: inline-block;
  width: 50%;
  text-align: right;
  vertical-align: middle;
  padding: 10px 0; }
  @media screen and (max-width: 767px) {
    .form {
      display: block;
      width: 100%;
      text-align: center; } }
  .form__input {
    width: 70%;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 8px;
    border: 1px solid #CCC; }
  .form__button {
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #D3531A;
    padding: 8px;
    outline: none;
    background: #D3531A;
    color: #ffffff; }

.about-us {
  display: inline-block;
  margin-right: 5%;
  width: 65%;
  vertical-align: top;
  padding: 40px 0; }
  @media screen and (max-width: 767px) {
    .about-us {
      display: block;
      width: 100%; } }
  .about-us__title {
    font-size: 25px;
    padding-bottom: 25px;
    font-weight: 700; }
  .about-us__paragraph {
    font-size: 16px;
    padding-bottom: 20px; }
  .about-us__column {
    display: inline-block;
    width: 33.3%;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .about-us__column {
        width: 100%;
        text-align: left; } }
  .about-us__subtitle {
    font-size: 18px;
    font-weight: 700;
    color: #D3531A; }
    @media screen and (max-width: 767px) {
      .about-us__subtitle {
        display: none; } }
  .about-us__list-wrapper {
    display: block;
    padding: 10px 0 5px; }
    @media screen and (max-width: 767px) {
      .about-us__list-wrapper {
        border-bottom: 1px solid #cccccc; } }
  .about-us__result {
    font-size: 16px; }

.about-us.about-us--alcaldez {
  width: 100%; }
  .about-us.about-us--alcaldez .about-us__title {
    font-size: 22px; }

@media screen and (max-width: 767px) {
  .about-us__column:first-child .about-us__result {
    font-weight: 700; } }

.sidebar {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding: 40px 0; }
  @media screen and (max-width: 767px) {
    .sidebar {
      display: block;
      width: 100%;
      padding: 0 0 40px; } }
  .sidebar__list {
    margin-bottom: 25px;
    background-color: #35424a;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px; }
  .sidebar__list-title {
    font-size: 20px;
    padding-bottom: 15px; }
  .sidebar__list-content {
    font-size: 14px; }

.gototop {
  display: none;
  background-color: #E8491D;
  position: fixed;
  right: 50px;
  bottom: 150px;
  padding: 10px 12px;
  border-radius: 3px;
  cursor: pointer; }
  @media screen and (max-width: 767px) {
    .gototop {
      right: 15px;
      bottom: 25px;
      border: 2px solid #FFFFFF; } }
  .gototop__arrow {
    font-size: large;
    color: #FFFFFF; }

.gototop.gototop--active {
  display: block; }

.login {
  margin: 7% auto;
  max-width: 500px;
  padding: 50px 50px 20px;
  border-radius: 10px;
  border: 2px solid #E8491D;
  background-color: #ffffff; }
  .login__title {
    text-align: center;
    font-size: 30px; }
  .login__title-highlight {
    color: #E8491D; }

.form-login {
  padding: 50px 90px; }
  .form-login__list {
    display: block;
    padding-bottom: 10px; }
  .form-login__label {
    display: block;
    padding-bottom: 5px;
    font-size: 16px; }
  .form-login__input {
    display: block;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 8px; }
  .form-login__error {
    display: block;
    padding: 5px 0 0;
    color: #E8491D; }
  .form-login__button {
    text-align: center;
    padding: 15px 0 0; }
  .form-login__submit {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #CCC;
    width: 35%;
    background: #E8491D;
    color: #ffffff; }

.form-login__list.form-login__list--error .form-login__input {
  border: 1px solid #E8491D; }

.header-admin {
  width: 100%;
  font-size: 0;
  padding: 10px 30px;
  border-bottom: #e8491d 3px solid;
  background-color: #35424a;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box; }
  .header-admin__logo {
    font-size: 20px;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    color: #ffffff; }
  .header-admin__logout {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    text-align: right; }
  .header-admin__highlight {
    color: #E8491D;
    font-weight: 700; }
  .header-admin__button {
    display: inline-block;
    background-color: #E8491D;
    border-radius: 3px;
    border: 1px solid #E8491D;
    padding: 7px 20px;
    color: #ffffff;
    font-size: 14px; }

.admin-sidebar {
  width: 18%;
  position: fixed;
  top: 55px;
  height: 100%;
  background: #35424a;
  left: 0;
  box-sizing: border-box;
  font-size: 0; }
  .admin-sidebar__link {
    color: #ffffff;
    display: block;
    text-decoration: none;
    padding: 15px; }
    .admin-sidebar__link:hover {
      background: #E8491D; }
  .admin-sidebar__item-text {
    display: inline-block;
    font-size: 16px;
    width: 80%; }
  .admin-sidebar__item-icon {
    display: inline-block;
    width: 20%;
    font-size: 16px;
    text-align: right; }

.admin-sidebar__link.admin-sidebar__link--active {
  background: #E8491D; }

.admin-form {
  margin: 55px 0 0 20%;
  width: 78%; }

.form-field {
  padding: 40px 100px;
  font-size: 0; }
  .form-field__label {
    display: inline-block;
    width: 15%;
    font-size: 16px;
    vertical-align: middle; }
  .form-field__input-wrapper {
    display: inline-block;
    width: 85%;
    vertical-align: middle; }
  .form-field__list {
    display: block;
    padding-bottom: 15px; }
  .form-field__input {
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 55%;
    padding: 7px; }
  .form-field__textarea {
    display: block;
    resize: none;
    height: 120px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 55%; }
  .form-field__upload-text {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px; }
  .form-field__upload {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #cccccc;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #e2dfdf;
    cursor: pointer; }
  .form-field__image-wrapper {
    width: 85%;
    padding: 20px 0 0; }
  .form-field__image {
    width: 100%;
    height: 350px;
    object-fit: cover; }
  .form-field__button {
    padding: 30px;
    text-align: center; }
  .form-field__button-register {
    padding: 7px 35px;
    border: 1px solid #E8491D;
    background-color: #E8491D;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer; }

.form-field__list.form-field__list--textarea .form-field__label {
  vertical-align: top; }
