.about-us {
    display: inline-block;
    margin-right: 5%;
    width: 65%;
    vertical-align: top;
    padding: 40px 0;

    @media screen and (max-width: 767px ) {
        display: block;
        width: 100%;
    }

    &__title {
        font-size: 25px;
        padding-bottom: 25px;
        font-weight: 700;
    }

    &__paragraph {
        font-size: 16px;
        padding-bottom: 20px; 
    }
}