.gototop {
    display: none;
    background-color: #E8491D;
    position: fixed;
    right: 50px;
    bottom: 150px;
    padding: 10px 12px;
    border-radius: 3px;
    cursor: pointer;

    @media screen and (max-width: 767px ) {
        right: 15px;
        bottom: 25px;
        border: 2px solid #FFFFFF;
    }
    
    &__arrow {
        font-size: large;
        color: #FFFFFF;
    }
}

.gototop.gototop--active {
    display: block;
}