.newsletter {
    padding: 5px;
    color: #ffffff;
    background: #35424a;

    &__center {
        text-align: center;
        font-size: 25px;
        padding: 15px 0;

        @media screen and (max-width: 767px ) {
            font-size: 5vw;
        }
    }

    &__highlight {
        color: yellow;

        @media screen and (max-width: 767px ) {
            display: block;
        }
    }

    &__left {
        text-align: left;
        font-size: 25px;
        padding: 15px 0;

        @media screen and (max-width: 767px ) {
            font-size: 5vw;
        }
    }

    &__link {
        font-size: 25px;
        color: #ffffff;
        text-decoration: none;
    }

    &__tab-list {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        padding: 10px 0;
        
        @media screen and (max-width: 767px ) {
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    &__tab {
        display: inline-block;
        width: 25%;
        vertical-align: middle;

        @media screen and (max-width: 767px ) {
            display: inline-block;
            width: 50%;
        }
    }
}

.newsletter__link.newsletter__link--active {
    color: #D3531A;
    font-weight: 700;
}