
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 20px;
    min-height: 65px;
    border-bottom: #e8491d 3px solid; 
    a {
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 15px;

      :hover {
        color: #e8491d;
        font-weight: bold;
      }
    }

    li {
      float: left;
      display: inline;
      padding: 0 10px 0 25px;    
    }   

    #branding{
      float: left;
    }

    h1 {
      margin: 0
    }

    nav {
      float: right;
      margin-top: 10px;
    }

    .highlight,
    .current a {
      color: #e8491d;
      font-weight: bold;
    }

    .highlight1{
      color: #ffffff;	
    }
}