.admin-sidebar {
    width: 18%;
    position: fixed;
    top: 55px;
    height: 100%;
    background: #35424a;
    left: 0;
    box-sizing: border-box;
    font-size: 0;
    overflow-y: auto;

    &__link {
        color: #ffffff;
        display: block;
        text-decoration: none;
        padding: 15px;
        cursor: pointer;

        &:hover {
            background: #E8491D;
        }
    }

    &__item-text {
        display: inline-block;
        font-size: 14px;
        width: 80%;
    }

    &__item-icon {
        display: inline-block;
        width: 20%;
        font-size: 14px;
        text-align: right;
    }
}

.admin-sidebar__submenu {
    display: none;

    .admin-sidebar__link {
        padding: 15px 15px 15px 30px;
        background: #3e4b54;

        &:hover {
            background: #E8491D;
        }
    }

    .admin-sidebar__link.admin-sidebar__link--active {
        background: #E8491D !important;
    }
}