.flash-message {
    margin-bottom: 30px;

    &__alert {
        background: #08a208;
        color: #ffffff;
        border-radius: 5px;
        position: relative;
        padding: 10px 20px;
        z-index: -1;
    }

    &__close-btn {
        position: absolute;
        border: none;
        background: no-repeat;
        font-weight: bold;
        font-size: 20px;
        right: 5px;
        color: #e8e1e1;
    }

    &__icon {
      margin-right: 10px;
    }
}

.flash-message__alert.flash-message__alert--error {
    background: #d83535;
}